<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Order Management | Categories</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="fragments/navbar-fragment" th:with="activePage='categories'"></div>
	<div class="container">
		<br>
		<form class="col-6" method="post" th:object="${category}" action="#"
			th:action="@{/categories/update/{id}(id=${category.id})}" enctype="application/x-www-form-urlencoded">
			<div class="form-group">
				<label for="id">ID:</label>
				<input type="number" th:field="*{id}" class="form-control" id="id" readonly>
			</div>

			<div class="form-group">
				<label for="categoryName">Category Name:</label>
				<input type="text" th:field="*{categoryName}" class="form-control" id="categoryName"
					placeholder="Enter a Category Name" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<footer>
			<div th:replace="fragments/footer-fragment"></div>
		</footer>
	</div>
</body>

</html>