<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Order Management | Categories</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="fragments/navbar-fragment" th:with="activePage='categories'"></div>

<div class="container mt-4">
	<div class="row align-items-center">
		<div class="col-md-6">
			<h2>Detail View</h2>
		</div>
		<div class="col-md-6 text-right p4">
			<br>
			<p><a href="/categories" class="btn btn-dark btn-sm">Back</a></p>
		</div>
	</div>
	<table class="table table-bordered">
		<tbody>
		<tr>
			<th class="col-md-4">Code:</th>
			<td class="col-md-8" th:text="${category.id}"></td>
		</tr>
		<tr>
			<th class="col-md-4">Name:</th>
			<td class="col-md-8" th:text="${category.categoryName}"></td>
		</tr>
		</tbody>
	</table>
</div>
</body>

</html>